<div *ngIf="basket!=null" class="container mt-5">
    <div class="pb-5">
        <div class="container">
            <div class="row">
                <div class="col-8 py-5 mb-1">
                    
                    <app-basket-summary 
                    (decrement)="decrementItemQuantity($event)"
                    (increment)="incrementItemQuantity($event)"
                    (remove)="removeBasketItem($event)">

                    </app-basket-summary>
                </div>
                <div class="col-4 py-5">
                    <app-order-totals> </app-order-totals>
                    <a routerLink="/checkout" class="btn btn-outline-primary btn-block">
                        <strong><b> Ödeme Yap</b></strong> 
                    </a>
                </div>
            </div>
            
                   
            
            </div>
        </div>
    </div>

    <div *ngIf="basket==null">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 p-5">
                        <div class="border border-dark border-right-0  p-5 d-flex" style="border-radius: 5%;">
                            <div class="aling-items-start justify-content-start pt-2 mr-auto">
                                <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"><span class="pl-3" style="font-family:Helvetica;">Sepetinde ürün bulunmamaktadır.</span></i>
                            </div>
                            
                            <div class=" justify-content-end aling-items-end ml-auto">
                                <a routerLink="/shop" class="btn btn-outline-primary btn-lg">Alışverişe Başla</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
